click==8.0.4
dask==2021.3.0
dataclasses==0.6
Flask==2.0.3
fsspec==2022.1.0
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.1
locket==1.0.0
MarkupSafe==2.0.1
numpy==1.21.6
pandas==1.1.5
partd==1.2.0
pyarrow==6.0.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
toolz==0.12.0
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
